.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

mat-sidenav {
  width: 220px;
}

.content {
  padding: 24px;
}

.active {
  background-color: rgba(0, 0, 0, 0.04);
}
